<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - REIZICANCHAS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntegradorP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        a.navbar-brand {
            white-space: normal;
            text-align: center;
            word-break: break-all;
            color: #000000; /* Color del texto para la marca en la barra de navegación */
            background-color: #f6f6f6; /* Cambio de color a gris para el fondo del navbar */
        }

        a {
            color: #c4c3ca; /* Color gris para los enlaces */
        }

        .btn-primary {
            color: #fff; /* Texto blanco en botones para contraste */
            background-color: #010101; /* Color oscuro para botones primarios */
            border-color: #030303; /* Color más oscuro para bordes de botones */
        }

        .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
            color: #fff; /* Texto blanco en enlaces activos para contraste */
            background-color: #0b122b; /* Color oscuro para enlaces activos */
            border-color: #091336; /* Color más oscuro para bordes de enlaces activos */
        }

        .border-top {
            border-top: 1px solid #ccc; /* Gris claro para bordes superiores */
        }

        .border-bottom {
            border-bottom: 1px solid #ccc; /* Gris claro para bordes inferiores */
        }

        .box-shadow {
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); /* Mantén el color de la sombra */
        }

        button.accept-policy {
            font-size: 1rem;
            line-height: inherit;
            color: #fff; /* Texto blanco en botones para contraste */
            background-color: #202e5c; /* Color oscuro para botones */
        }

        .footer {
            background-color: #000000; /* Color oscuro para el pie de página */
            position: absolute;
            bottom: 0;
            width: 100%;
            white-space: nowrap;
            line-height: 60px;
            color: #c4c3ca; /* Color del texto para el pie de página */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">REIZICANCHAS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                  

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Create">Reservas</a>
                        </li>
                        @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservas1" asp-action="Index">ORESERVAS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Perfils" asp-action="Index">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UsuarioPerfils" asp-action="Index">UsuariopERFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Instalacions" asp-action="Index">Administar Instalaciones</a>
                        </li>
                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recursos" asp-action="Index">Administar Recursos</a>
                        </li>
}

                    </ul>
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Accounts" asp-action="Login"><i class="fas fa-user"></i> Iniciar Sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            © 2023 - IntegradorP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>