@model Usuario

@{
    ViewBag.Title = "Registrarse";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900">
    <style>
        body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background: #1f2029; /* Cambié el fondo blanco por un color oscuro */
            color: #c4c3ca; /* Cambié el color de texto oscuro por un color claro */
        }

        .register {
            max-width: 500px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 8px;
            background-color: #1b1818;; /* Mantuve el color de fondo del formulario */
        }

        h2 {
            font-size: 32px;
            color: #eaeaea; /* Cambié el color del título */
        }

        .form-control {
            border: none;
            border-bottom: 1px solid #c4c3ca; /* Cambié el color del borde inferior */
            border-radius: 0;
            background: transparent;
            color: #c4c3ca; /* Cambié el color del texto de entrada */
            margin: 5px;
        }

        .form-control::placeholder {
            color: #867f7f; /* Cambié el color del marcador de posición */
        }

        .form-control:focus {
            background-color: transparent;
            box-shadow: none;
        }

        label {
            font-size: 14px; /* Ajusté el tamaño de la fuente para que sea igual al del formulario de inicio de sesión */
           
            color: #ffffff;
        }

        .btn-primary {
            background-color: #ffeba7;
            border: none;
            font-size: 18px;
            color: #102770; /* Cambié el color del texto del botón */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh;">
            <div class="col-md-6 rounded register">
                <h2 style="text-align:center;">Registrarse</h2>
                <form method="post">
                    @if(!string.IsNullOrEmpty(ViewData["error"] as string))
                    {
                        <div class="alert alert-danger">
                            @ViewData["error"]
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="NombreUsu">Nombres</label>
                        <input asp-for="NombreUsu" class="form-control" placeholder="Juan Ponce" type="text" />
                        <span asp-validation-for="NombreUsu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailUsu">Correo electrónico</label>
                        <input asp-for="EmailUsu" class="form-control" placeholder="juanpoce@yahoo.com" type="text" />
                        <span asp-validation-for="EmailUsu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CedulaUsu">Cédula</label>
                        <input asp-for="CedulaUsu" class="form-control" placeholder="1234567890" type="text" />
                        <span asp-validation-for="CedulaUsu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Clave</label>
                        <input asp-for="Password" class="form-control" placeholder="Contraseña" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrarse" class="btn btn-primary" asp-action="Registrar" asp-controller="Accounts" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
