/* _content/IntegradorP/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Por favor, consulta la documentación en https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
para obtener detalles sobre cómo configurar este proyecto para agrupar y minimizar los activos web estáticos. */

a.navbar-brand[b-szhdly13kp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #000000; /* Color del texto para la marca en la barra de navegación */
  background-color: rgb(15, 15, 15);
}

a[b-szhdly13kp] {
  color: #c4c3ca; /* Color gris para los enlaces */
}

.btn-primary[b-szhdly13kp] {
  color: #fff; /* Texto blanco en botones para contraste */
  background-color: #0e2059; /* Color oscuro para botones primarios */
  border-color: #000000; /* Color más oscuro para bordes de botones */
}

.nav-pills .nav-link.active[b-szhdly13kp], .nav-pills .show > .nav-link[b-szhdly13kp] {
  color: #fff; /* Texto blanco en enlaces activos para contraste */
  background-color: #0c0d0e; /* Color oscuro para enlaces activos */
  border-color: #102770; /* Color más oscuro para bordes de enlaces activos */
}

.border-top[b-szhdly13kp] {
  border-top: 1px solid #ccc; /* Gris claro para bordes superiores */
}
.border-bottom[b-szhdly13kp] {
  border-bottom: 1px solid #ccc; /* Gris claro para bordes inferiores */
}

.box-shadow[b-szhdly13kp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); /* Mantén el color de la sombra */
}

button.accept-policy[b-szhdly13kp] {
  font-size: 1rem;
  line-height: inherit;
  color: #fff; /* Texto blanco en botones para contraste */
  background-color: #02123c; /* Color oscuro para botones */
}

.footer[b-szhdly13kp] {
  background-color: #231d35;
  width: 100%; 
  height: 30px; /* Reducido a 30px */
  padding: 5px 10px; /* Agregado de padding */
  line-height: 20px; /* Reducido a 20px para centrar texto */
  color: #c4c3ca;
  font-size: 14px; /* Texto más pequeño */
}
